#messages-area .alert:first-child {
  margin-top: 15px;
}

#breadcrumbs {
  margin-top: 10px;
}

.categories-list .col-category {
  width: 60%;
}

.categories-list .col-post-count {
  width: 10%;
}

.post-info {
  font-size: 10px;
}

.post-date-small {
  font-size: 10px;
}

.cell-centered {
  text-align: center !important;
  vertical-align: middle !important;
}

.last-post {
  font-size: 10px;
}

/**
 * Post
 */
.post {
  margin-bottom: 30px;
}

.post-header {
  border-bottom: 1px solid #eee;
}

.post-content {
  padding: 20px 0;
}

.post-footer {
  background-color: #f5f5f5;
  border-bottom: 1px solid #bbb;
  font-size: 10px;
  padding-right: 10px;
  text-align: right;
}

.post-footer a {
  margin-left: 30px;
}

/**
 * Comentarios
 */
.post.comment {
  border-left: 3px solid #fff;
}

.post.comment:hover {
  border-left-color: #0088CC !important;
}

.post.comment.active {
  background-color: #fafafa;
  border-left-color: #f30;
  box-shadow: 0px 1px 10px rgba(80,80,80,0.5);
  margin: 30px 0;
}

.post.comment .post-header {
  border-bottom: none;
  padding-left: 5px;
}

.post.comment .post-content {
  padding: 10px 0 10px 5px;
}

/**
 * Footer
 */
#footer {
  background-color: #1B1B1B;
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  color: #999;
  font-size: 12px;
  margin-top: 50px;
  padding: 10px 0 50px 0;
  text-shadow: 1px 1px 0px #000;
}

#footer a {
  text-shadow: none;
}
